@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Bonus</th>
        <th>Sorumlu Personel</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerSurname</td>
            <td>@item.CustomerCity</td>
            <td>@item.CustomerEmail</td>
            <td>@item.CustomerBonus</td>
            <td>@item.Employee.EmployeeName</td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Customer/AddCustomer/" class="btn btn-primary">Yeni Müşteri Girişi</a>

